/.TestEnum.java._trace
/.TestEnumLiteral.java._trace
/.TestLiteralSpec.java._trace
/.TestEnum.xtendbin
/.TestEnumLiteral.xtendbin
/.TestLiteralSpec.xtendbin
/TestEnum.java
/TestEnumLiteral.java
/TestLiteralSpec.java
