/.ClassTemplate.java._trace
/.ClassTemplate.xtendbin
/.EnumLiteralTemplate.java._trace
/.EnumLiteralTemplate.xtendbin
/.EnumTemplate.java._trace
/.EnumTemplate.xtendbin
/.NameTemplate.java._trace
/.NameTemplate.xtendbin
/.NullTemplate.java._trace
/.NullTemplate.xtendbin
/.OpaqueBehaviorTemplate.java._trace
/.OpaqueBehaviorTemplate.xtendbin
/.OperationTemplate.java._trace
/.OperationTemplate.xtendbin
/.ParameterTemplate.java._trace
/.ParameterTemplate.xtendbin
/.PropertyTemplate.java._trace
/.PropertyTemplate.xtendbin
/.StructuredClassifierTemplate.java._trace
/.StructuredClassifierTemplate.xtendbin
/.TypeTemplate.java._trace
/.TypeTemplate.xtendbin
/.ValueSpecTemplate.java._trace
/.ValueSpecTemplate.xtendbin
/ClassTemplate.java
/EnumLiteralTemplate.java
/EnumTemplate.java
/NameTemplate.java
/NullTemplate.java
/OpaqueBehaviorTemplate.java
/OperationTemplate.java
/ParameterTemplate.java
/PropertyTemplate.java
/StructuredClassifierTemplate.java
/TypeTemplate.java
/ValueSpecTemplate.java
/.MainTemplate.java._trace
/.ArtifactTemplate.java._trace
