/.TestOperation.java._trace
/.TestOperation.xtendbin
/.TestParameter2.java._trace
/.TestParameter2.xtendbin
/.TestProperty2.java._trace
/.TestProperty2.xtendbin
/.TestStructuredClassifier.java._trace
/.TestStructuredClassifier.xtendbin
/TestOperation.java
/TestParameter2.java
/TestProperty2.java
/TestStructuredClassifier.java
