/.CodegenInterface.java._trace
/.CodegenInterface.xtendbin
/.Template.java._trace
/.Template.xtendbin
/.Uml2C.java._trace
/.Uml2C.xtendbin
/.Uml2CInterface.java._trace
/.Uml2CInterface.xtendbin
/CodegenInterface.java
/Template.java
/Uml2C.java
/Uml2CInterface.java
/.CodegenIO.java._trace
