/.TestArtifact.java._trace
/.TestArtifact.xtendbin
/.TestClass2.java._trace
/.TestClass2.xtendbin
/.TestLiteralSpec2.java._trace
/.TestLiteralSpec2.xtendbin
/.TestMain.java._trace
/.TestMain.xtendbin
/TestArtifact.java
/TestClass2.java
/TestLiteralSpec2.java
/TestMain.java
